@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");
* {
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #F6F1FF;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.font_akcent {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text_akcent {
  color: #17B18D;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  font-family: "Unbounded", sans-serif;
  color: #353941;
  word-wrap: break-all;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
          hyphens: auto;
}

h2 {
  font-size: 40px;
}

p {
  line-height: 150%;
}

/* HEADER */
header {
  background-color: #401C8D;
}

.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link.active {
  color: #17B18D;
}

/* HEADER ADAPTIVE */
/* // LG */
/* // MD */
@media (max-width: 991px) {
  header .navbar-brand img {
    width: 150px;
  }
  header .navbar-toggler {
    border: none;
    outline: none;
  }
  header .navbar-toggler:focus {
    box-shadow: none;
  }
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  header .navbar-collapse {
    margin-top: 10px;
    border-top: 1px solid #aaa;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* HEADER: end */
/* FOOTER */
footer {
  background-color: #401C8D;
  margin-top: auto;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* FOOTER ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* FOOTER: end */
/* PROMO */
#promo {
  background: #401C8D url("../img/promo_bg.jpg") repeat scroll center center/cover;
  box-shadow: inset 0 5px 5px -5px #206;
}
#promo h1 {
  color: #fff;
  font-size: 60px;
}
#promo p {
  color: #aaa;
}

.promo_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;
  color: #555;
  font-weight: 500;
}
.promo_card img {
  width: 90px;
}

/* PROMO ADAPTIVE */
/* // LG */
@media (max-width: 1199px) {
  #promo h1 {
    font-size: 50px;
  }
}
/* // MD */
/* // SM */
/* // XS */
/* PROMO: end */
/* bestlist */
.bestlist_card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.bestlist_card .bestlist_card__head {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.bestlist_card .bestlist_card__num {
  height: 40px;
  width: 40px;
  font-size: 22px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  line-height: 100%;
  background-color: #17B18D;
  border-radius: 0 0 5px 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestlist_card .bestlist_card__body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 30px;
}
.bestlist_card .bestlist_card__img {
  width: 20%;
  text-align: center;
}
.bestlist_card .bestlist_card__img img {
  display: block;
  height: 120px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fafafa;
}
.bestlist_card .bestlist_card__middle {
  width: 60%;
}
.bestlist_card .bestlist_card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.bestlist_card .bestlist_card__name {
  font-size: 34px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  color: #17B18D;
}
.bestlist_card .bestlist_card__rating {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.bestlist_card .bestlist_card__wrap {
  display: flex;
  gap: 20px;
}
.bestlist_card .bestlist_card__bonus {
  width: 50%;
}
.bestlist_card .bestlist_card__bonus .h4 {
  color: #555;
  font-size: 16px;
}
.bestlist_card .bestlist_card__bonustext {
  font-size: 24px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  line-height: 130%;
}
.bestlist_card .bestlist_card__list {
  width: 50%;
  font-size: 12px;
}
.bestlist_card .bestlist_card__list ul {
  list-style-image: url("data:image/svg+xml,%3Csvg width='24' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.468.86a1.434 1.434 0 0 1 1.023-.422c.38.003.745.16 1.017.439.271.278.429.656.439 1.054.01.398-.128.784-.386 1.077L7.756 13.212a1.471 1.471 0 0 1-.476.356 1.415 1.415 0 0 1-1.637-.315L.467 7.842c-.144-.14-.26-.31-.34-.498A1.592 1.592 0 0 1 .43 5.635c.14-.145.305-.26.488-.337a1.411 1.411 0 0 1 1.146.021c.18.084.342.205.477.355l4.096 4.28L13.429.906l.04-.045zm-1.8 10.511l1.8 1.882c.14.145.306.26.489.337a1.409 1.409 0 0 0 1.146-.022 1.47 1.47 0 0 0 .476-.356l7.81-10.204a1.54 1.54 0 0 0 .326-.508 1.596 1.596 0 0 0-.014-1.2 1.537 1.537 0 0 0-.337-.5 1.46 1.46 0 0 0-.498-.322 1.41 1.41 0 0 0-1.146.057c-.177.09-.336.216-.466.37l-6.794 9.05-.949-.995-1.842 2.411z' fill='%2317B18D'/%3E%3C/svg%3E");
}
.bestlist_card .bestlist_card__list ul li {
  margin-bottom: 10px;
}
.bestlist_card .bestlist_card__go {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.bestlist_card .bestlist_card__btn {
  background-color: #17B18D;
  border-radius: 50px;
  padding: 15px 40px;
  font-family: "Unbounded", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  word-wrap: none;
  white-space: nowrap;
  margin-bottom: 20px;
}
.bestlist_card .bestlist_card__footer {
  text-align: center;
  color: #aaa;
  font-size: 12px;
  padding-bottom: 5px;
}

/* bestlist ADAPTIVE */
/* // LG */
@media (max-width: 1199px) {
  .bestlist_card .bestlist_card__btn {
    background-color: #17B18D;
    border-radius: 50px;
    padding: 15px 30px;
  }
}
/* // MD */
@media (max-width: 991px) {
  #bestlist .bestlist_card .bestlist_card__img {
    width: 100%;
  }
  #bestlist .bestlist_card .bestlist_card__body {
    flex-direction: column;
    width: 100%;
  }
  #bestlist .bestlist_card .bestlist_card__middle {
    width: 100%;
  }
  #bestlist .bestlist_card .bestlist_card__go {
    width: 100%;
  }
}
/* // SM */
@media (max-width: 767px) {
  #bestlist .bestlist_card .bestlist_card__body {
    gap: 10px;
  }
  #bestlist .bestlist_card .bestlist_card__wrap {
    flex-direction: column;
  }
  #bestlist .bestlist_card .bestlist_card__title {
    flex-direction: column;
    align-items: flex-start;
  }
  #bestlist .bestlist_card .bestlist_card__bonus {
    width: 100%;
  }
  #bestlist .bestlist_card .bestlist_card__list {
    width: 100%;
  }
}
/* bestlist: end */
/* text_block */
.text-info__text {
  margin-bottom: 30px;
  color: #000000;
}

#rate_table h3 {
  margin-bottom: 20px;
}

.table-striped-custom tbody tr:nth-of-type(odd) {
  --bs-table-bg: #eeeeff;
}

.table-striped-custom tbody tr:nth-of-type(even) {
  --bs-table-bg: #e4e4ff;
}

.table a {
  color: #6d2bf1;
}

#text-info h2 {
  margin-bottom: 20px;
}

.box {
  background-color: #ededfe;
  border-radius: 5px;
  padding: 11px 20px 13px 15px;
  margin-bottom: 10px;
  /* _text_block ADAPTIVE */
}
.box h3 {
  margin-bottom: 0px;
}

/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* _text_block: end */
/* steps block */
.steps-box {
  position: relative;
}

.step {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.step-number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3d3d3d;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step-content {
  color: #333;
  line-height: 1.6;
  flex-grow: 1;
}

.step-success {
  display: flex;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #6f42c1;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.step a {
  color: #6f42c1;
  text-decoration: none;
}

.step a:hover {
  text-decoration: none;
  /* _steps_block ADAPTIVE */
}

/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* _step_block: end */
/* faqs*/
.faq {
  background-color: #EEEEFF;
  border-radius: 8px;
  padding: 30px 30px 25px;
  margin-bottom: 30px;
}

.faqs_title {
  margin-bottom: 30px;
}

span[itemprop=name] {
  font-weight: bold;
  margin-bottom: 8px;
}

div[itemprop=text] {
  margin-bottom: 15px;
  /* _faqs ADAPTIVE */
}

/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* _faqs: end */
/* modal */
.header_text {
  font-size: 32px;
  font-weight: 800;
  font-family: "Unbounded", sans-serif;
  color: #6d2bf1;
  text-transform: uppercase;
}

.gift-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.gift-text {
  padding-left: 5px;
  flex-wrap: nowrap;
}

.form-control {
  background-color: #FEF4D8;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.btn-subscribe {
  background-color: #fc0;
  color: #353941;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  width: 100%;
  margin-top: 1rem;
  text-transform: uppercase;
}

/* _modal ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* _modal: end *//*# sourceMappingURL=styles.css.map */